form {
    border: 1px solid #545454;
    border-radius: 3px;
    padding: 40px;
}

input {
    padding: 5px 20px;
    width: 100%;
    line-height: 16px;
    margin: 10px 0;
  }

  .button {
    background-color: rgb(52, 52, 63);
    color: white;

    &:hover {
        background-color: white;
        color: black;

    }
}

#results {
     margin: 50px auto;

    lh {
        font-size: 1.5em;
        font-weight: 400;
        padding: .5em 0;
    }

    li{
        padding: .5em 0;
        font-weight: 300;
    }


}

